---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

let recentEntries = publishedBlogEntries.slice(0,6)
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Blog</Fragment>
      <Fragment slot="desc">
        <h2 class="px-8" >
          Acá escribimos sobre landing page y marketing digital para potenciar tu negocio
        </h2>
      </Fragment>
    </Sectionhead>
    <main class="mt-16 px-8">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          recentEntries.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={blogPostEntry.data.image.src}
                    alt={blogPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    aspectRatio="16:9"
                    background="#ffffff"
                    fit="cover"
                    position="center"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md"
                  />
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>


                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      
      <div class="text-center mt-16">
        <a
          href="/blog"
          class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
          >Ver Todos los Artículos -> </a
        >
      </div>
    </main>
  </Container>
</Layout>
